*{
    font-family: 'Poppins';
}
.container{
    padding-top: 90px;
    
}
.heading-with-homebtn{
    background: linear-gradient(to bottom, dodgerblue, #FFFFFF);
    padding: 1rem 6rem;
    display: flex;
    align-items: center;
}
.heading{
    
    width: 90%;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}