*{
    font-family: 'Urbanist';
}
.container{
    padding-top: 90px;
    background-color:#fbfeff;
    
}
.heading-with-homebtn{
    
    padding: 1rem 6rem;
    display: flex;
    align-items: center;
    background-color:#fbfeff;
}
.heading{
    
    width: 90%;
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;

}
