.AdminHome__heading{
    font-size: 4rem;
    font-weight: 500;
    color: #df200be2;
    position: relative;
    animation: move-words 12s linear infinite;
    margin: 0;
}
@keyframes move-words {
    0% {
      left: 100%;
    }
    100% {
      left: -100%;
    }
  }