table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    border: 1px solid black;
    padding: 8px;
}
.linkfortalbe{
text-decoration: none;
}

tr:nth-child(even) {
background-color: #0000000f;
}