

.container{
    padding-top: 90px;
    background-color: white;
    
  display: flex;
  flex-direction: column;
  gap: 1rem;
    
}
.headingContainer{
    background-color:#fbfeff;
 
  
 
    text-align: center;
    padding: 1rem 0;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 500;
}
.leadInfoContainer{
    background-color:#fbfeff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 5px;
    width: auto;
    font-size: 1.2rem;
    display: flex;
    margin-left: 7%;
    border: 1px solid #333;
    padding: 2rem;
    margin-right: 7%;
  
}
.leadInfoContainer div div{
    margin-bottom: 0.5rem;
}
.leadHead div{
    display: flex;
}
.leadHead{
    display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .column div {
    display: flex;
    justify-content: space-between;
  }
.leadHead div div{
    max-width: 280px;
    min-width: 280px;
    text-align: left;
}
.followHistoryContainer{
    padding: 2rem 0rem;
}
.followHisHeading{
    
    border-radius: 25px; 
    margin-left: 10%;
    width: 80%;
    font-size: 2rem;
    text-align: left;
    
}
.followCardContainer{
    margin: 2rem 3rem;
    border-radius: 5px;
    padding: 2rem 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3.8rem 0rem;
    
}
.followCardContainer input, textarea, select{
    font-size: 1.1rem;
    border-radius: 5px;
    outline: none;
    margin-top: -10px;
}
.followCardContainer input{
    width: 45%;
}
.followCardContainer textarea{
    border-radius: 10px;
    width: 100%;
}
.followCardContainer select {
    
    width: 48%;
    
}

.followCardbtn{
    margin-bottom: 10vh;
    margin-left: 690px;
    margin-top: 5vh;
    height: 6vh;
    width: 30vh;
    background-color: dodgerblue; /* Peach color */
    font-size: larger;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background and text color */
    transition: border 0.3s ease
}
.submit{
    margin-bottom: 10vh;
    margin-left: 690px;
    margin-top: 15vh;
    height: 7vh;
    width: 30vh;
    background-color: #11d31e; /* Peach color */
    font-size: larger;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background and text color */
    transition: border 0.3s ease , font-weight 0.3s ease
    
}
.submit:hover {
    /* White color */
   color: #000000; /* Changing text color to black for better contrast on white background */
   font-weight: 600;
   border: 3px solid #000000; 
 }