.BlogCard__container{
    display: flex;
    background-color: white;
    width: 350px;
    height: 380px;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px #00000027;
}
.BlogCard__img__container{
    width: 100%;
    height: 55%;
}
.BlogCard__container div img{
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.BlogCard__content{
    width: 100%;
    height: 45%;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #000000a1;
}
.BlogCard__content div{
    margin: 0 1rem;
}
.BlogCard__headings{
    color: #000000;
    font-size: 1.4rem;
    font-weight: 500;
}