*{
    font-family: 'Urbanist';
}
.container{
    background-color:#fbfeff;
    margin: -8rem auto;
    width: 100%;
    z-index: 1000;
    position: absolute;
    
}
.innerForm{
    padding-top: 4vh;
    background-color: rgba(255, 255, 255, 0.365);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 3rem;
    width: 900px;
    margin: 1rem auto;
    border-radius: 10px;
    
}
.heading{
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
}
.formContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
}
.inputContainer input{
    border-radius: 5px;
    box-shadow: 6px 6px 6px #00000014;
    border : 1px solid black;
    min-width: 400px;
    max-width: 400px;
}
.btn {
    margin-bottom: 10vh;
    margin-left: 690px;
    margin-top: 5vh;
    height: 8vh;
    width: 30vh;
    background-color: #11d31e; /* Peach color */
    font-size: larger;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background and text color */
    transition: border 0.3s ease
    
  }
  
  .btn:hover {
     /* White color */
    color: #000000; /* Changing text color to black for better contrast on white background */
    border: 3px solid #000000; 
  }
.svg_cross{
    position: fixed;
    filter: invert(1);
    transform: translateY(400px);
}