.lead_page_container {
  padding-top: 90px;
  background-color: #fbfeff;
}

.lead_page_heading {
  height: 200px;
  display: flex;
  align-items: center;
  /*background-image: url("https://static.vecteezy.com/system/resources/thumbnails/023/669/545/small/abstract-gradient-pink-blue-liquid-wave-background-free-vector.jpg");*/

  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 7vw;
  justify-content: space-between;
}

.lead_pagehomeic_ {
  margin-right: 20px;
}

.lead_pagehomeheading_ {
  font-size: 50px;
  font-weight: 400;
  padding-right: 550px;
}

.lead_pagepersonal_Info {
  text-align: center;
  justify-content: center;
  padding-top: 30px;
  font-size: 40px;
  font-weight: 500;
  padding-right: 900px;
}

.input__container {
  margin-bottom: 10px; /* Example margin between input containers */
  padding: 5px;
}

.input__container label {
  display: block; /* Display labels as block elements */
  margin-bottom: 5px; /* Example margin between label and input */
  margin-left: 200px;
  margin-top: 40px;
}

.input__field {
  width: 50%; /* Example full width */
  margin-left: 100px; /* Example padding */
  border: 0.5px solid #333; /* Example border */
  box-sizing: border-box; /* Ensure padding and border are included in width */
  border-radius: 5px;
  margin-top: 5px;

  background-color: #ffffff;
  transition: transform 0.3s ease;
}
.input__field:hover {
  transform: scale(1.01);
}

.address__info {
  text-align: center;
  justify-content: center;
  padding-top: 30px;
  font-size: 30px;
  font-weight: 500;
  padding-right: 900px;
  margin-bottom: 15px;
  color: #333;
}
.input__field {
}
.address__line {
  display: flex;
  padding-right: 90px;
  margin-bottom: 10px;
  height: 50px;
  text-align: center;
}
.address_line_1 {
  border: 2px solid rgb(190, 146, 146);
  margin-left: 40px;
  margin-top: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  background-color: rgb(179, 208, 208);
}
.additional_info_heading {
  text-align: center;
  justify-content: center;
  padding-top: 30px;
  font-size: 30px;
  font-weight: 500;
  padding-right: 850px;
  padding-bottom: 30px;
  color: #333;
}

.btn {
  margin-bottom: 10vh;
  margin-left: 690px;
  margin-top: 5vh;
  height: 8vh;
  width: 30vh;
  background-color: #11d31e; /* Peach color */
  font-size: larger;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background and text color */
  transition: border 0.3s ease;
}

.btn:hover {
  /* White color */
  color: #000000; /* Changing text color to black for better contrast on white background */
  border: 3px solid #000000;
}
.address_line_12 {
  display: flex;
  padding-right: 185px;
  padding-left: 90px;
  margin-bottom: 35px;
}
