*{
    font-family: Poppins ;
}
.medicalCollegeCard__container{
    display: flex;
    height: 25rem;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    gap: 0.51rem;
    font-family: 'Poppins';
    width: 20rem;
    box-shadow: 6px 6px 6px #00000016;
    transition: 200ms ease;
    overflow: hidden;

}
.medicalCollegeCard__container:hover{
    scale: 1.1;
    
}
.medicalCollegeCard__heading{
    text-align: center;
    overflow: hidden;
    font-size: 1.3rem;
    font-weight: 600;
    color: black;
}
.medicalCollegeCard__loctime{
    display: flex;
    align-items: center;
}
.medicalCollegeCard__button button{
    border: none;
    border-radius: 20px;
    width: 6.5rem;
    color: white;
    font-size: 1.01rem;
    background-color: #df200be2;
    box-shadow: 6px 6px 6px #0000002e;
    height: 2rem;
    margin-bottom: 1rem;
    transition: 200ms ease;
}
.medicalCollegeCard__button button:hover{
    cursor: pointer;
    scale: 1.1;
}
@media screen and (max-width: 600px){
    .medicalCollegeCard__container{
        margin: 2rem auto;
        width: 17rem;
        margin-left: 13vw;
    }
}