.achiv__container{
    padding: 6rem;
    font-family: 'Poppins';
    background-image: linear-gradient(#4586ef00, #4586ef90, #4586ef00);
    display: flex;
    justify-content: space-between;
}
.achiv__left__container{
    width: 40%;
}
.achiv__left__container__heading{
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #4587EF;
}
.achiv__left__container__desc{
    font-size: 1.2rem;
    line-height: 2rem;
    margin-bottom: 2rem;
    text-align: justify;
}
.achiv__left__container__buttons{
    display: flex;
    gap: 4rem;
}
.achiv__left__container__buttons button{
    width: 8rem;
    height: 2.5rem;
    border: none;
    border-radius: 20px;
    font-size: 1.1rem;
    box-shadow: 6px 6px 6px #00000023;
    cursor: pointer;
}
.achiv__right__container{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.achiv__right__container img{
    height: 60vh;
}
@media screen and (max-width:600px) {
    .achiv__container{
        padding: 2rem;
        display: block;
    }
    .achiv__left__container{
        width: 100%;
    }
    .achiv__left__container__heading{
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }
    .achiv__left__container__desc{
        font-size: 1rem;
        line-height: 1.4rem;
        margin-bottom: 1rem;
    }
    .achiv__left__container__buttons button{
        width: 7rem;
        height: 2rem;
        border-radius: 15px;
        font-size: 1rem;
        margin-bottom: 2rem;
    }
    .achiv__right__container{
        width: 100%;
    }
    .achiv__right__container img{
        height: 30vh;
    }
}