.about {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 6rem;
  }
  .head {  
    display: flex; 
    height: 30vh;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#4586ef, #4586ef00);
    color: rgba(0, 0, 0, 0.77);
  }
  .awards {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .image{
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
  }
  .image img{
    height: 55vh;
    border-radius: 20px;
    margin-left: 7px;
  }
  .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .content__heading{
    font-weight: 500;
    font-size: 1.5rem;
    color: #df200be2;
  }
  .content__subheading{
    font-size: 2.5rem;
    font-weight: 700;
  }
  h2{
    color: #df200be2;
    font-size: 1.1rem;
    text-align: center;
    font-weight: 400;
  }
  .sec2{
    display: flex;
    padding: 6rem;
    gap: 3rem;
    background-image: linear-gradient(#4586ef00, #4586ef90, #4586ef00);
  }
  .vision__img img {
    height: 55vh;
    border-radius: 20px;
    margin-left: 7px;
  }
  .vision__img {
    height: 56vh;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
  }
  .team {
    padding: 6rem;
    background-image: linear-gradient(#4586ef00, #4586ef90);
  }
  .ourteam {
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .cards {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .card {
    height: 45vh;
    width: 20vw;
    background-color: black;
    border: 1px solid black;
    border-radius: 15px;
  }
.team img {
  margin: 0.3rem;
  border-radius: 15px;
  height: 45vh;
  width: 20vw;
  object-fit: cover;
}
.cardsbottom {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.cardbottom {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.cardbottom__name{
  font-size: 1.5rem;
}
  
  