.about {
    margin-top: 50px;
    display: flex;
    align-items: center;
    margin-left: 3vw; 
  }
  .head {
    
    height: 40vh;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(227, 193, 152);
    margin-top: 10px; 
    padding-top: 100px;
  }
  .value{
    margin-top: 20px;
  }
  .awards {
    display: flex;
    justify-content: space-between;
  }

  
  .image {
    flex: 1;
    padding: 0 20px; 
  }
  
  .content {
    flex: 2; 
  }
  
  .image img {
    margin-left: 10px;
    max-width: 45vw;
    height: 80vh; 
  }
  h2{
    font-weight: 1000;
    color: rgb(125, 163, 48);
  }
  .sec2{
    width: 45vw;
    height: 60vh;
    margin-left: 4.9vw;
    margin-top: 5vw;
  }
  .di {
    width: 45vw;
    height: 26vh;
    border: 1px solid black;
    background-color: rgb(236, 232, 226);
  }
  
  .sec2 {
    max-width: 800px;
    margin: 4.5vw;
    display: flex;
    justify-content: space-between;
  }
  
  .image3 img {
    margin-left: 10px;
    max-width: 45vw;
    height: 62vh; 
  }
  .image3 {
    flex: 1;
    padding: 0 30px; 
  }
  .team {
    height: 120vh;
    width: 100%;
    background-color: rgb(205, 236, 236);
  }
  .ourteam {
    padding-bottom: 4vw;
    text-align: center;
    justify-content: center;
    padding-top: 10vh;
    font-weight: 500;
    font-size: xxx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .cards {
    display: flex;
    width: 100%;
    margin-left: 4.6vw;
  }
  .card {
    height: 49.7vh;
    width: 20vw;
    border: 2px solid black;
    justify-content: space-between;
    margin: 1vw;
    border-radius: 10px;
  
    
  }
.team img {
  border-radius: 10px;
}
/* .cardsbottom {
  display: flex;
  justify-content: space-between;
  
}
.cardbottom1 {
  margin-top: 1vh;
  margin-left: 11.5vw;
}
.cardbottom2 {
  margin-top: 1vh;
  margin-left: -21vw;
}
.cardbottom3 {
  margin-top: 1vh;
  margin-left: -22vw;
}
.cardbottom4 {
  margin-top: 1vh;
  margin-left: -20vw;
} */
.cardsbottom {
  display: flex;
  width: 100%;
  margin-left: 4.6vw;
}
.cardbottom {
  height: 20vh;
  width: 20vw;
  
  justify-content: space-between;
  margin: 1vw;
  border-radius: 10px;
  text-align: center;

  
}
  
  