.about {
    margin-top: 50px;
    display: flex;
    align-items: center;
    margin-left: 3vw; 
  }
  .head {
    
    height: 40vh;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(227, 193, 152);
    margin-top: 10px; 
    padding-top: 100px;
  }
  .value{
    margin-top: 20px;
  }
  .awards {
    display: flex;
    justify-content: space-between;
  }

  
  .image {
    flex: 1;
    padding: 0 20px; 
  }
  
  .content {
    flex: 2; 
  }
  
  .image img {
    margin-left: 10px;
    max-width: 45vw;
    height: 80vh; 
  }
  h2{
    font-weight: 1000;
    color: rgb(125, 163, 48);
  }
  .sec2{
    width: 45vw;
    height: 60vh;
    margin-left: 4.9vw;
    margin-top: 5vw;
  }
  .di {
    width: 45vw;
    height: 26vh;
    border: 1px solid black;
    background-color: rgb(236, 232, 226);
  }
  
  .sec2 {
    max-width: 800px;
    margin: 4.5vw;
    display: flex;
    justify-content: space-between;
  }
  
  .image3 img {
    margin-left: 10px;
    max-width: 45vw;
    height: 62vh; 
  }
  .image3 {
    flex: 1;
    padding: 0 30px; 
  }
  
  