.College__Details {
    padding-top: 90px;
    font-family: 'Poppins';
}
.college_details_section1 {
    background-image: url("https://img.freepik.com/free-vector/blue-curve-background_53876-113112.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
   padding: 0rem 0rem 2rem 0rem;

}
.college_details_heading {
    padding-top: 14vh;
    padding-left: 5vw;
    font-size: 3rem;
    font-weight: 700;
}
.college_details_contactUs {
    width: 40%;
    height: 50vh;
    border-radius: 50px;
    background-image: url("https://img.freepik.com/free-photo/top-view-chat-bubbles-with-telephone-receiver-copy-space_23-2148796078.jpg?size=626&ext=jpg&ga=GA1.1.553209589.1713139200&semt=ais");
    margin-left: 7vw;
    background-position: center;
    margin-top: 10vh;
}
.college_details_Info {
    width: 100%;
    display: flex;
}
.college_details_collegeAddress {
    width: 40%;
    border-radius: 50px;
    height: 50vh;
    background-color: #9bd0d6e8;
    margin-left: 6vw;
    margin-top: 10vh;
}
.contactUs__heading12 {
    margin-left: 2vw;
    padding-top: 10vh;
    font-size: 2.3rem;
    font-weight: 600;
}
.contactUs__content12 {
    margin-left: 2vw;
    margin-top: 8vh;
    font-size: larger;
    font-weight: 400;

}
.call__details {
    padding-bottom: 2vh;
}
.college_address_de1 {
    margin-top: 10vh;
    margin-left: 2vw;
    font-size: 2.3rem;
    font-weight: 600;

}
.college_address_de {
    margin-top: 5vh;
    margin-left: 2vw;
    margin-right: 4vw;
    font-size: large;

}
.college_detailssection2_content {
    padding: 6rem;
}
.college_detailssection2_heading {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
.college_detailssection2_content1 {
    text-align: justify;
    padding: 0 6rem;
    font-size: 1.2rem;
}
.college_details_section3 {
    background-color: #97CED3;
    padding: 6rem;
}
.college_details_certifications {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}
.college_detailscertifications_images ul{
    padding: 1rem 7rem;
    text-align: justify;
}
.college_detailscertifications_images ul li{
   font-size: 1.2rem;
   margin-top: 1rem;
}
.available__courses{
    padding: 6rem;
    text-align: center;
}
.available_courses_tab {
  margin-top: 3rem;
  padding: 0 7rem;
}
.available_courses_heading {
    font-size: 3rem;
    font-weight: 600;
}

.available_courses_tab table {
    width: 100%;
    border-collapse: collapse;
}

.available_courses_tab th,
.available_courses_tab td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.available_courses_tab th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.available_courses_tab tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
.college_details_section4 {
    background-color: #46A9D9;
    color: #ffff;
    padding: 6rem;
}
.college__information {
    text-align: justify;
    padding: 0 4rem;
    font-size: 1.2rem;
}
.college__information ul li{
    margin-bottom: 1rem;
}
.college_detailssection4_heading {
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
}