.College__Details {
    padding-top: 90px;
    
}
.college_details_section1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
}
.college_details_heading {
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
}
.contactUs__content12 {
    padding-left: 2rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: larger;
    font-weight: 400;
}
.college_detailssection2_content {
    padding: 6rem;
}
.college_detailssection2_heading {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
.college_detailssection2_content1 {
    text-align: justify;
    padding: 0 6rem;
    font-size: 1.2rem;
}
.college_details_section3 {
    background-color: #97CED3;
    padding: 6rem;
}
.college_details_certifications {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}
.college_detailscertifications_images ul{
    padding: 1rem 7rem;
    text-align: justify;
}
.college_detailscertifications_images ul li{
   font-size: 1.2rem;
   margin-top: 1rem;
}
.available__courses{
    padding: 6rem;
    text-align: center;
}
.available_courses_tab {
  margin-top: 3rem;
  padding: 0 7rem;
}
.available_courses_heading {
    font-size: 3rem;
    font-weight: 600;
}

.available_courses_tab table {
    width: 100%;
    border-collapse: collapse;
}

.available_courses_tab th,
.available_courses_tab td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.available_courses_tab th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.available_courses_tab tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
.college_details_section4 {
    background-color: #46A9D9;
    color: #ffff;
    padding: 6rem;
}
.college__information {
    text-align: justify;
    padding: 0 4rem;
    font-size: 1.2rem;
}
.college__information ul li{
    margin-bottom: 1rem;
}
.college_detailssection4_heading {
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
}