.career__contact__container{
    padding-top: 90px;
}
.carrer_contact__top__img {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #fff;
    background-size: cover;
    height: 40vh;
    background-image:  linear-gradient(to bottom ,#eaedf100, #eaedf138, #eaedf1),url(https://t4.ftcdn.net/jpg/05/08/80/19/360_F_508801991_UTsCAOorx25USitqonfRADueJlzyjhDq.jpg);
}
.carrer_contact__top__img div{
    width: 70%;
    font-size: 3rem;
    font-weight: 600;
}

.carrer__container__form {
    max-width: 70%;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.131);
    display: flex;
    margin: 5% auto;
}

.carrer__container__form__column {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    background: linear-gradient(0.15turn, #3f87a6b9, #ebf8e1, #f69c3cad);
    border-radius: 20px 0 0 20px;
}

.carrer__container__form__column:nth-child(2) {
    position: relative;
    background: none;
    background-color: #000000a3;
    border-radius: 0px 20px 20px 0px;
}
.carrer__container__backImg{
    border-radius: 0px 20px 20px 0px;
    background-size: cover;
    background-image: url(../../../public/contact_details_back_img.png);
    z-index: -1;
    width: 100%;
    position: absolute;
    height: 100%;
    
}

.carrer__container__form__column h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 20px;
}

.custom-label {
    font-weight: 600;
    font-size: 1.2rem;
    width: 15%;
    text-align: center;
}
.carrer__container__form__column form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}
.carrer__container__form__column form div{
    display: flex;
    align-items: center;
    gap: 1rem;
}

select, input, textarea {
    width: 85%;
    border: none;
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
}
select, input, textarea::placeholder {
   font-size: 1rem;
}


.carrer__container__form__column form button {
    background-color: #007BFF;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    margin: auto;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.carrer__container__form__column form button:hover {
    background-color: #0056b3;
}

.icon {
    font-size: 24px;
    margin-bottom: 10px;
}

.contact-info {
    color: #fff;
    font-size: 1.2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}
.contact-info div{
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .column {
        width: 100%;
        border-left: none;
        padding: 10px;
    }
}