.courses_about_container{
    padding-top: 90px;
    font-family: 'Urbanist';
    background-color: #fbfeff;
    
      
}
.courses_about_banner_img{
    display: flex;
    
    align-items: center;
    color: rgb(255, 255, 255); 
        
    background-size: cover;
    background-position: center;
    height: 20vh;
    
    
}

.courses_about_banner_img div{
   
    font-size: 3rem;
    filter: none;
    font-weight: 900;
    background: #00000041;
    left: 0;
    margin-left: 50px;
    
    
    border-radius: 10px;
    padding: 10px;
    
}


.courses_about_course_container{
    padding: 6rem;
    display: flex;
    text-align: justify;
    align-items: center;
    gap: 2rem;
}
.courses_about_course_container div:nth-child(1){
    font-size: 1.3rem;
    width: 70%;
}
.courses_about_course_container div:nth-child(n) div{
    font-size: 2.3rem;
    margin-bottom: 2rem;
    color: #D2042D;
    font-weight: 800;
    text-align: center;
    width: 100%;
}
.courses_about_course_container div img{
    border-radius: 10px;
    width: 45vw;
    margin-left: 20px;
   
}
.courses_about_eli_points ul li{
    font-size: 1.3rem;
    margin: 1rem;
    font-weight: 400;
    text-align: justify;
    color: #000000;
}
.courses_about_course_container div table{
    font-size: 1.15rem;
}
.courses__about__suggested__btn{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.courses__about__suggested__btn button{
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    outline: none;
    color: white;
    background-color: rgba(30, 143, 255, 0.815);
    box-shadow: 0px 0px 10px 3px #0000001e;
    transition: background-color 500ms ease;
    font-weight: 700;
}

.courses__about__suggested__btn button:hover{
    background-color: #ffff;
    box-shadow: 6px 6px 6px #0000001e;
    color: black;
}