.createUserLists__container {
    padding-top: 90px;
    background-color: #fefbff;
  
}

  
  .lead_Listspagehomeic_ {
    margin-right: 20px;
  }
  
  .lead_Listspagehomeheading_ {
    font-size: 50px;
    font-weight: 500;
    margin-left: 90px;
  }
  .userLists_tab_heading {
    margin:50px;
    text-align: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 30px;

  }
  


.userTable {
  width: 80%;
  border-collapse: collapse;
  margin-left: 10%;
}

.userTable th,
.userTable td {
  border: 1px solid #ddd;
  padding: 8px;
}

.userTable th {
  background-color: #f2f2f2;
  text-align: left;
}

.userTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.userTable tr:hover {
  background-color: #ddd;
}

