.createUserLists__container {
    padding-top: 90px;
    background-color: rgb(255, 255, 255);
}

.lead_Listspage_heading {
    height: 200px;
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, dodgerblue, #FFFFFF);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 7vw;

}
  
  .lead_Listspagehomeic_ {
    margin-right: 20px;
  }
  
  .lead_Listspagehomeheading_ {
    font-size: 50px;
    font-weight: 500;
    margin-left: 90px;
  }
  .userLists_tab_heading {
    margin-top:50px;
    text-align: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 30px;

  }
  table {
    width: 85%;
    margin-left: 8%;
    border-radius: 25%;
    margin-bottom: 5vh;
  }