.coursespg__container{
    padding-top: 90px;
}
.coursespg__container__heading__container{
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    color: rgb(4, 7, 101);
    background-position: 50% 30%;
    height: 40vh;
    background-image:linear-gradient(to bottom ,#eaedf100, #eaedf138, #eaedf1), url(https://t4.ftcdn.net/jpg/04/42/89/59/360_F_442895934_hF6sltz7ALNXOLtINTHiKidtcWN7illo.jpg);
}
.coursespg__container__heading{
    width: 50%;
    font-size: 4rem;
    font-weight: 700;
}
.coursespg__container__having__tables{ 
    padding: 6rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.coursespg__medical__courses__table__container__heading{
    cursor: pointer;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    background-color: #4586ef;
    padding: 0.5rem 1rem;
    font-size: 2.2rem;
}
.coursespg__medical__courses__table__container__heading img{
    height: 2.5rem;
}
.coursespg__medical__courses__table__withImg{
}
.coursespg__medical__courses__table{
    border-radius:0 0 10px 10px;
    background-color: #4586ef;
    padding: 1rem;
}
.coursespg__medical__courses__card__container__withHeading{
    color: white;

}
.coursespg__medical__courses__card__container__heading{
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
}
.courses__card__container__main{
    display: flex;
    overflow-y: auto;
    scrollbar-width: none;
    gap: 1rem;
    justify-content: space-between;
}
.Engineering{
    background-color: rgb(251, 113, 113);
}
.open{
    display: block;
}
.closed{
    display: none;
}