table {
    margin-top: 8vh;
    border-collapse: collapse;
    width: 100%;
} 
td, th {
    text-align: left;
    border: 1px solid black;
    padding: 8px;
}
.courses__header__ {
    margin-top: 15vh;
    font-size: xxx-large;
    font-weight: 700;
    text-align: center;
    justify-content: center;
} 
.table__heading__medical {
    margin-top: 4vh;
    font-size: xx-large;

}