.coursespg__container{
    padding-top: 90px;
    background-color: #fbfeff;
}
.coursespg__container__heading__container {
    display: flex;
    color: white;
    height: 20vh;
    background-image: url('https://wallpaperaccess.com/full/756630.jpg');
    background-size: cover; /* Ensure the image covers the entire area */
    background-repeat: no-repeat; /* Prevent background repetition */
}
.coursespg__container__heading{
    width: 50%;
    font-size: 4rem;
    font-weight: 700;
    margin: 30px;
    
}
.coursespg__container__having__tables{ 
    padding: 6rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.coursespg__medical__courses__table__container__heading{
    cursor: pointer;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000000;
    margin-top: -70px;    
    padding: 0.5rem 1rem;
    font-size: 2.2rem;
    letter-spacing: 2px;
}
.coursespg__medical__courses__table__container__heading img{
    height: 4.5rem;
}
.coursespg__medical__courses__table__withImg{
}
.coursespg__medical__courses__table{
    border-radius:0 0 10px 10px;
    
    padding: 1rem;
}
.coursespg__medical__courses__card__container__withHeading{
    color: rgb(0, 0, 0);

}
.coursespg__medical__courses__card__container__heading{
    
    font-size: 1.7rem;
    font-weight: 500;
}
.courses__card__container__main{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    grid-template-rows: repeat(4, auto); /* 4 rows */
    gap: 20px; /* Adjust gap as needed */
    
}
.Engineering{
    background-color: rgb(251, 113, 113);
}
.open{
    display: block;
}
.closed{
    display: none;
}