*{
    font-family: 'Urbanist';
}
.contact__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 3px;
    
}
.iframe__map {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#fbfeff;
    padding: 3rem;
    color: black;
    
}
.iframe__map > span {
    overflow: hidden;
    border-radius: 1.1rem;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.147);
}

.contact__details{
    color: black;
    display: flex;
    gap: 4rem;
    font-size: 1rem;
}
.contact__details__heading{
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: 600;
}
.contact__details__address{
    display: flex;
    flex-direction: column; 
    gap: 0.8rem;
}

.contact__details__address > a:hover{
    font-size: 1.02rem;
}

.contact__details__links{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    margin: 0rem 4rem ;
}

.contact__details__links > a:hover{
    font-size: 1.02rem;
}

.copyright__div {
    padding: 1rem;
    text-align: center;
    color: white;
    font-size: 20px;
    background-color: #0f4eb4;
}
@media screen and (max-width: 600px) {
    .contact__container {
        flex-direction: column;
        margin-top: 2rem;
        gap: 3rem;
    }
    .iframe__map {
        width: 100%;
        padding: 2rem 0rem;
        flex-direction: column;
    }
    .contact__details{
        font-size: 0.8rem;
        margin-top: 2rem;
        width: 80%;
        flex-direction: column;
    }
    .contact__details__heading{
        font-size: 1rem;
    }
    .contact__details__address{ 
        gap: 0.5rem;
    }
    
    .contact__details__address > a:hover{
        font-size: 1.02rem;
    }
    .contact__details__links{
        gap: 0.7rem;
        margin: 0rem;
    }
    
    .contact__details__links > a:hover{
        font-size: 1rem;
    }
    .iframe__map > span {
        border-radius: 0.5rem;
        margin-left: 0rem;
    }
    .iframe__map > span > iframe{
        width: 300px;
        height: auto;
    }
    .copyright__div {
        font-size: 0.7rem;
        padding: 0.5rem 0rem;
    }
}