/* .careerblogs__container {
    width: 100%;
    padding-top: 20vh;
    

    background-color: rgb(175, 200, 213);
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20210714/pngtree-blur-creative-blog-background-image_741789.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


.careerblogs__heading{
    
    padding-top: 5vh;
    padding-left: 15vw;
    font-size: xxx-large;
    font-weight: 500;
    padding-bottom: 12vh;
}
.careerblogs__cards {
    width: 100%;
    background-color: rgb(239, 248, 248);
    display: flex;
    justify-content: space-between;
    padding-left: 15vh;
    padding-right: 15vh;
    padding-top: 4vh;
    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 20px;

}
.careerblogs__card {
    background-color: rgb(222, 222, 222);
    padding: 15px;
    margin: 18px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    
    

}

.content__heading12 {
    padding: 7px;
    margin-top: 5vh;
    font-size: large;
    font-weight: 500;

}
.select_category_ {
    align-items: right;
    padding-left: 130vh;
    transform: translateY(-200%);
    
    
}
.content__heading123 {
    padding: 7px;
    
    font-size: medium;
    font-weight: 300;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 3vh;

} */