.coursesCard__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(234, 237, 241);
    height: 15rem;
    width: 20rem;
    border-radius: 1rem;
    font-family: 'Poppins';
    transition: scale 300ms ease-in, background-color 300ms ease-in;
}

.coursesCard__container:hover{
    cursor: pointer;
    scale: 1.1;
    background-color: rgba(30, 143, 255, 0.473);
}
.coursesCard__container img{
    width: 7rem;
    padding: 2rem;
}
.coursesCard__desc{
    font-size: 1.2rem;
    font-weight: 500;
    color: #000000;
}
@media screen and (max-width: 600px){
    .coursesCard__container{
        height: 5rem;
        border-radius: 0.5rem;
        width: 10rem;
    }
    .coursesCard__container img{
        width: 3rem;
        padding: 0.5rem;
    }
    .coursesCard__desc{
        font-size: 0.6rem;
    }
}