.coursesCard__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 15rem;
    width: 20rem;
    border-radius: 0.5rem;
    border: 0.1px solid rgba(0, 0, 0, 0.47);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    font-family: 'Poppins';
    transition: scale 300ms ease-in, box-shadow 300ms ease-in;
}

.coursesCard__container:hover{
    cursor: pointer;
    scale: 1.1;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    
}
.coursesCard__container img{
    width: 7rem;
    padding: 2rem;
}
.coursesCard__desc{
    font-size: 1.2rem;
    font-weight: 500;
    color: #000000;
}
@media screen and (max-width: 600px){
    .coursesCard__container{
        height: 5rem;
        border-radius: 0.5rem;
        width: 10rem;
    }
    .coursesCard__container img{
        width: 3rem;
        padding: 0.5rem;
    }
    .coursesCard__desc{
        font-size: 0.6rem;
    }
}