.container{
    font-family: 'Poppins';
    margin-bottom: 6rem;
}
.heading-with-homebtn{
    background: linear-gradient(to bottom, rgba(30, 143, 255, 0.815),rgba(30, 143, 255, 0.518));
    border-radius: 25px;
    padding: 0.5rem ;
    width: 80%;
    margin-left: 10%;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.heading{
    color: #ffff;
    width: 100%;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
}