.container{
    background-color: #ffffff37;
    width: 45%;
    padding: 1.5rem 1.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    border: 1px solid #333;
    margin-top: -10px;
}
.date{
    display: flex;
    justify-content: space-between;
}
.readmore{
    padding: 0.15rem 0.2rem;
    color: #fff;
    background-color: dodgerblue;
    font-size: 0.7rem;
    border: none;
    border-radius: 5px;
}