.container{
    padding: 6rem 4rem;
    background-color: #fbfeff;
}
.innerContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}
.heading{
    text-shadow: 3px 3px #ffff;
    font-size: 2.5rem;
    font-weight: 600;
    color: #212121;
}
.input{
    width: 70%;
}
.input textarea{
    border: none;
    box-shadow: 6px 6px 6px #00000012;
    width: 100%;
    height: 50px;
    font-family: 'Poppins';
    font-size: 1rem;
}
.innerContainer button{
    margin-top: 10px;
  width: 20%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  border: 1px solid #ededef;
  background-color: #212121;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.redIcon {
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding: 10px;
    border-radius: 10px;
    background-color: red;
    cursor: pointer;
  }
