.container{
    padding: 6rem 4rem;
}
.innerContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}
.heading{
    text-shadow: 3px 3px #ffff;
    font-size: 2.5rem;
    font-weight: 600;
    color: #4587EF;
}
.input{
    width: 70%;
}
.input textarea{
    border: none;
    box-shadow: 6px 6px 6px #00000012;
    width: 100%;
    height: 50px;
    font-family: 'Poppins';
    font-size: 1rem;
}
.innerContainer button{
    font-size: 1rem;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    box-shadow: 6px 6px 6px #0000001d ;
    border-radius: 20px;
    color: #ffff;
    background-color: #4587EF;
}